div
{
    background-color: red;
    height: 100px;
    width: 100px;
}
div
{
    background-color: red;
    height: 100px;
    width: 100px;
}
#box{
  margin-top: 50px;    
}
.one{
    background-color: black;
    
}